<nav class="navbar">
    <a class="navbar-brand" href="#">Wellness Hub</a>
    <ul class="nav-items">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/healthmetrics" routerLinkActive="active">Health Metrics</a></li>
      <li><a routerLink="/physical" routerLinkActive="active">Physical</a></li>
      <li><a routerLink="/diet" routerLinkActive="active">Diet</a></li>
      <li><a routerLink="/mental-health" routerLinkActive="active">Mental Health</a></li>
      <li><a routerLink="/user-profile" routerLinkActive="active">User Profile</a></li>
    </ul>
  <!--  <div class="search-bar">
      <input
        type="text"
        placeholder="Search..."
      />
    </div> -->
  </nav>